asgiref==3.2.3

#  awscli==1.29.25
    # The conflict is caused by:
    #     The user requested botocore==1.31.25
    #     awscli 1.29.25 depends on botocore==1.31.25
    #     boto3 1.26.16 depends on botocore<1.30.0 and >=1.29.16
    
black==23.7.0
boto3==1.26.16
# botocore==1.31.25
botocore==1.29.16
    # The conflict is caused by:
    # The user requested botocore==1.31.25
    # boto3 1.26.16 depends on botocore<1.30.0 and >=1.29.16
cfgv==3.3.1
chardet==3.0.4
click==8.1.6
colorama==0.4.4
dj-database-url==0.5.0
Django==3.0.1
django-allauth==0.41.0
django-appconf==1.0.5
django-compressor==4.4
django-countries==7.2.1
django-crispy-forms==1.8.1
django-dotenv==1.4.2
django-environ==0.10.0
django-storages==1.9.1
django-widget-tweaks==1.4.12
docutils==0.15.2
gunicorn==20.0.4
identify==2.5.26
idna==2.8
jmespath==0.9.5
nodeenv==1.8.0
oauthlib==3.1.0
pathspec==0.11.2
Pillow==10.0.0
psycopg2==2.9.7
psycopg2-binary==2.8.6
pyasn1==0.5.0
python3-openid==3.1.0
pytz==2019.3
rcssmin==1.1.1
requests==2.22.0
requests-oauthlib==1.3.0
rjsmin==1.2.1
rsa==4.7.2
s3transfer==0.6.1
sqlparse==0.3.0
stripe==2.42.0
urllib3==1.25.7
